/*****BASE SYLES*****/

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #7F8C8D;
    font-size: 16px;
}

full-width {
    width: 400px;
    margin: 0 auto;
    overflow: auto;
}

/*****HEADER*****/
header {
    height: 960px;
    width: 780px;
    text-align: center;
}

header h1 {
    text-align: center;
    font-size: 90px;
    margin-left: 160px;
    padding-top: 40px;
    color: #F7DC6F;
}

header h2 {
    text-align: center;
    font-size: 40px;
    color: #E74C3C;
    margin-left: 140px;
}

nav {
    width: 100%;
    padding: 20px 10px 10px 80px;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    text-transform: uppercase;
    color: #F7DC6F;
    text-decoration: none;
}

/*****ABOUT*****/
#about {
    background-color: #FCF3CF;
    text-align:center;
    padding: 40px 70px;
}

#about h2 {
    color: #E74C3C; 
    font-size: 50px;
}

/*****WORK*****/
#work {
    text-align:center;
    padding: 40px 70px;
}

#work h2 {
    color: #E74C3C;
    font-size: 50px;
}

/*****HOBBIES*****/
#hobbies {
    text-align:center;
    padding: 40px 70px;
    background-color: #FCF3CF;
}

#hobbies h2 {
    color: #E74C3C;
    font-size: 50px;
}

/*****CONTACT*****/
#contact {
    text-align:center;
    padding: 50px 40px;
}

#contact h2 {
    font-size: 40px;
    padding-bottom: 30px;
    color: #E74C3C;
}
#contact a {
    color: #7F8C8D;
    text-decoration: none;
}

/*****FOOTER*****/
footer {
    padding-bottom: 80px;
    color: #EDAFC9;
    text-align:center;
}

footer a {
    color: #EDAFC9;
    text-decoration: none;
}

/*****TABLET MEDIA SCREEN****/

@media screen and (min-width: 760px) {

    /*header*/
    header {
        height: 800px;
        width: 900px;
        text-align: center;
    }

    header h1 {
        text-align: center;
        font-size: 90px;
        margin-left: 100px;
        padding-top: 10px;
        color: #F7DC6F;
    }
    
    header h2 {
        text-align: center;
        font-size: 40px;
        color: #E74C3C;
        margin-left: 80px;
    }

    nav {
        width: 100%;
        padding: 50px 30px 10px 30px;
    }

    /*ABOUT*/
    #about {
        background-color: #FCF3CF;
        text-align: center;
        width: 1200px;

    }
    
    #about h2 {
        color: #E74C3C; 
        font-size: 100px;
    }

    #about p {
        width: 1200px;
        font-size: 30px;
    }


    /*WORK*/




    /*HOBBIES*/



    /*CONTACT*/




}

/*****DESKTOP MEDIA SCREEN*****/

@media screen and (min-width: 1000px) {

   

    /*header*/
    header {
        height: 760px;
        width: 1200px;
        text-align: center;
    }
    
    header h1 {
        text-align: center;
        font-size: 90px;
        margin-left: 160px;
        padding-top: 40px;
        color: #F7DC6F;
    }
    
  



    



}
