/*****BASE SYLES*****/

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #7F8C8D;
    font-size: 30px;
}

.full-width {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

/*****HEADER*****/
header {
    height: 800px;
    height: 100%;
    text-align: center;
}

header h1 {
    text-align: center;
    font-size: 90px;
    padding-top: 40px;
    margin-left: 30px;

    color: #F7DC6F;
}

header h2 {
    text-align: center;
    font-size: 40px;
    color: #E74C3C;
    margin-left: 70px;
    margin-right: 70px;
}

nav {
    width: 90%;
    padding: 20px 10px 10px 30px;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    text-transform: uppercase;
    color: #F7DC6F;
    text-decoration: none;
}

/*****ABOUT*****/
#about {
    background-color: #FCF3CF;
    text-align:center;
    padding: 40px 70px;
}

#about h2 {
    color: #E74C3C; 
    font-size: 50px;
}

/*****WORK*****/
#work {
    text-align:center;
    padding: 40px 70px;
}

#work h2 {
    color: #E74C3C;
    font-size: 50px;
}

#work span {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

/*****HOBBIES*****/
#hobbies {
    text-align:center;
    padding: 40px 70px;
    background-color: #FCF3CF;
}

#hobbies h2 {
    color: #E74C3C;
    font-size: 50px;
}

/*****CONTACT*****/
#contact {
    text-align:center;
    padding: 50px 40px;
}

#contact h2 {
    font-size: 60px;
    padding-bottom: 30px;
    color: #E74C3C;
}
#contact a {
    color: #0072b1;
    text-decoration: none;
}

#contact span {
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

/*****FOOTER*****/
footer {
    padding-bottom: 80px;
    color: #EDAFC9;
    text-align:center;
}

footer a {
    color: #EDAFC9;
    text-decoration: none;
}

footer span {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

/*****TABLET MEDIA SCREEN****/

@media screen and (min-width: 760px) {
    
    
}

/*****DESKTOP MEDIA SCREEN*****/

@media screen and (min-width: 1000px) {



}
